{% extends 'lewflix/base.html' %}

{% block content %}
    <div class="movie-list">
        {% if movies|length > 0 %}
            {% for movie in movies %}
                <div class="movie">
                    <img class="movie__poster" src="{{ movie.image_url }}" alt="{{ movie.title }}"/>
                    <div class="movie__details">
                        <span class="movie__title">{{ movie.title }}</span>
                        <span class="movie__year">({{ movie.year }})</span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <span>There are no movies currently available</span>
        {% endif %}
    </div>
{% endblock %}