@font-face {
    font-family: 'bebas-neue';
    src: url(BebasNeue.otf);
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    width: 100vw;
}

main {
    flex-grow: 1;
    padding-top: 80px;
}

path {
    fill: transparent;
    stroke: none;
}

nav {
    background: #E50914;
    display: flex;
    height: 80px;
    padding: 0 10%;
    position: fixed;
    width: 100%;
}

.logo {
    color: white;
    font-family: 'bebas-neue', "Arial", sans-serif;
    height: 80px;
    width: 150px;
}

.logo svg {
    fill: white;
}

.logo textPath {
    font-family: 'bebas-neue', "Arial", sans-serif;
}
.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80vw;
}

.movie {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    text-decoration: none;
    width: 15%;
}

.movie__poster {
    height: 150px;
    margin: 0 auto 10px;
}

.movie-view {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10%;
    width: 100%;
}

.movie-view__content {
    display: flex;
}

.movie-view__player {
    width: 70%;
}

.movie-view__player video {
    width: 90%;
}

.movie-view__details {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.movie-view__details > span {
    margin: 10px 0;
}


.navigation {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 210px;
}

.navigation li a {
    color: white;
    display: block;
    font-family: "Arial", sans-serif;
    padding: 10px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}